$sans: 'Josefin Sans', sans-serif;
$slab: 'Josefin Slab', serif;
$MT: 'Engravers MT';
$fira: 'Fira Sans';
$accent-1: #FF6848;
$accent-2: #7F3424;
$accent-3: #636363;
@function fluidPadHeight($specHeight) {
  @return percentage($specHeight / 1080);
}

html, body, .hero-blackbg {
  height: 100%;
  width: 100%;
  font-size: 28px;
}

html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
  padding: 0;
}

.hero-blackbg {
  background-color: #000;
}

h2 {
  font-family: $sans;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.82rem;
}

h3 {
  font-family: $sans;
  font-size: 2rem;
  line-height: 2.57rem;
  font-weight: 400;
}

h4 {
  font-family: $sans;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 300;
}

h5 {
  font-family: $sans;
  font-size: 1.14rem;
  line-height: 1.35;
}

h6 {
  font-family: $fira;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.tagline {
  padding-top: fluidPadHeight(89);
  span {
    display: block;
  }
}

.hero {
  background: url('../img/hero-bg.png') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.hero-content {
  background-color: $accent-1;
  width: 596px;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  padding-top: fluidPadHeight(54);
  padding-left: 50px;
  padding-right: 75px;
  color: white;
}

.hero-indent {
  padding-top: fluidPadHeight(111);
  padding-left: 25px;
}

.lunchtime {
  display: block;
  width: 200px;
  padding: 8px;
  text-align: center;
  border: solid 4px white;
  border-radius: 40px;
  margin-top: fluidPadHeight(78);
  color: white;
  &:hover {
    background-color: white;
    color: $accent-1
  }
}

@media screen and (max-width: 800px) {
  html, body {
    font-size: 24px;
  }
  .hero {
    background-position: top right;
  }
  .hero-content {
    width: 75%;
  }
}

@media screen and (max-width: 650px) {
    html, body {
      font-size: 20px;
    }
}

@media screen and (max-width: 650px) {
    h3 {
      font-size: 1.5rem;
      line-height: 1.7rem;
    }
    .lunchtime {
      width: 65%;
      font-size: 4vw;
    }
}

//home.html

// nav bar styles

.brand-logo img {
  padding-top: 10px;
  padding-left: 20px;
  display: block;
  width: 140px;
}


//check _variables.scss when refactoring to variable format

nav ul {
  padding-top: (72px - 22px) / 2;
  padding-bottom: (72px - 22px) / 2;
}

nav ul a {
    font-family: $sans;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    padding-right: 79px;
}

.navbar-fixed {
  nav {
  top: 0;
    border-bottom: 1px solid #000;
  }
}

// hero

.home-hero {
  padding-top: 102px;
  text-align: center;
  overflow: visible;
  h3, h5 {
    padding-left: 8px;
    padding-right: 8px;
  }
  h5 {
    color: #8F8F8F;
    padding-top: 42px;
    max-width: 1200px;
  }
  .signup-field form {
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1rem;
    .inline {
      width: 400px;
    }
    button {
      background-color: $accent-1;
    }
  }
}

.device-image {
  padding-top: 74px;
}

.small-divider {
  width: 73px;
  border-bottom: 4px $accent-1 solid;
}

.indent-p {
  padding-left: 36px;
  font-weight: 300;
}

.row .col.pad-it {
  padding-left: 100px;
}

.red-bullets li::before {
  content: "•";
  color: $accent-2;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

$testcolheight: 711px;

.testimonials {
  margin-top: 160px;
  background-color: $accent-3;
  height: $testcolheight;
}

.testimonial-wrapper {
  display: flex;
}

.quote-col {
  background-color: $accent-1;
  width: 70%;
  height: $testcolheight;
  transform: translateY(-72.54px);
  position: relative;
}

.testimonial-slider-menu{
  display: flex;
  position: absolute;
  bottom: 76px;
  left: 50%;
  transform: translateX(-50%);
}

.quote {
  font-family: $MT;
  color: white;
  margin-left: 40%;
  margin-top: 64.12px;
  h6 {
    padding-left: 54px;
    span{
      display: block;
    }
  }
}


.bullet {
  background-color: #FFFFFF;
  opacity: 0.74;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-left: 12px;
  margin-right: 12px
}

.bullet:hover {
  background-color: lighten(#B41111, 20%);
}

.bullet:active, .bullet:focus {
  background-color: #B41111;
}



.bio-col {
  width: 30%;
}

.bio-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 66px;
  width: 395.33px;
  max-width: 395.33px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-top: 33px;
  padding-bottom: 64px;
  img {
    display: block;
    align-self: center;
  }
}

.bio-text-wrapper span{
  display: block;
}

.client-name {
  font-size: 19px;
  line-height: 33px;
  font-weight: bold;
}

.client-title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.client-at {
  font-size: 17px;
  line-height: 24px;
}

@media screen and (max-width: 1450px) {
  .quote {
    margin-left: 20%;
    h6{
    font-size: 1rem;
    }
  }
}

@media screen and (max-width: 1050px) {
  .quote {
    margin-left: 5%;
    h6 {
      font-size: 0.75rem;
    }
  }
}

@media screen and (max-width: 450px) {
  .quote {
    margin-left: 2%;
    h6 {
      font-size: 0.65rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .home-hero .signup-field form {
    width: 90%;
    flex-direction: column;
    .inline {
      width: 90%;
    }
  }
  .row .col.pad-it, .indent-p {
    padding-left: 3%;
    padding-right: 3%;
    width: 98%;
  }
}
