$sans: 'Josefin Sans', sans-serif;
$slab: 'Josefin Slab', serif;
$accent-1: #FF6848;
@function fluidPadHeight($specHeight) {
  @return percentage($specHeight / 1080);
}

html, body, .hero-blackbg {
  height: 100%;
  width: 100%;
  font-size: 28px;
}

html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
  padding: 0;
}

.hero-blackbg {
  background-color: #000;
}

h2 {
  font-family: $sans;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.82rem;
}

h3 {
  font-family: $sans;
  font-size: 2rem;
  line-height: 2.57rem;
  font-weight: 400;
}

h4 {
  font-family: $sans;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 300;
}

h5 {
  font-family: $sans;
  font-size: 1.14rem;
  line-height: 1.35;
}

.tagline {
  padding-top: fluidPadHeight(89);
  span {
    display: block;
  }
}

.hero {
  background: url('../img/hero-bg.png') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.hero-content {
  background-color: $accent-1;
  width: 596px;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  padding-top: fluidPadHeight(54);
  padding-left: 50px;
  padding-right: 75px;
  color: white;
}

.hero-indent {
  padding-top: fluidPadHeight(111);
  padding-left: 25px;
}

.lunchtime {
  display: block;
  width: 200px;
  padding: 8px;
  text-align: center;
  border: solid 4px white;
  border-radius: 40px;
  margin-top: fluidPadHeight(78);
  color: white;
  &:hover {
    background-color: white;
    color: $accent-1
  }
}

@media screen and (max-width: 800px) {
  html, body {
    font-size: 24px;
  }
  .hero {
    background-position: top right;
  }
  .hero-content {
    width: 75%;
  }
}

@media screen and (max-width: 650px) {
    html, body {
      font-size: 20px;
    }
}

@media screen and (max-width: 650px) {
    h3 {
      font-size: 1.5rem;
      line-height: 1.7rem;
    }
    .lunchtime {
      width: 65%;
      font-size: 4vw;
    }
}

//home.html

// nav bar styles

.brand-logo img {
  padding-top: 10px;
  padding-left: 20px;
  display: block;
  width: 140px;
}


//check _variables.scss when refactoring to variable format

nav ul {
  padding-top: (72px - 22px) / 2;
  padding-bottom: (72px - 22px) / 2;
}

nav ul a {
    font-family: $sans;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    padding-right: 79px;
}

.navbar-fixed {
  nav {
  top: 0;
    border-bottom: 1px solid #000;
  }
}

// hero

.home-hero {
  padding-top: 102px;
  text-align: center;
  overflow: visible;
  h3, h5 {
    padding-left: 8px;
    padding-right: 8px;
  }
  h5 {
    color: #8F8F8F;
    padding-top: 42px;
    max-width: 1200px;
  }
  form {
    line-height: 1rem;
    .inline {
      width: 400px;
    }
  }
  .signup-field form {
      width: 600px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
  }
}

@media screen and (max-width: 600px) {
  .signup-field form {
    width: 90%;
    flex-direction: column;
  }
}
